/.env
/db.sqlite3
/media/
/static/

/accounts/migrations/*
!/accounts/migrations/__init__.py

/cart/migrations/*
!/cart/migrations/__init__.py

/couriers/migrations/*
!/couriers/migrations/__init__.py

/purchasers/migrations/*
!/purchasers/migrations/__init__.py

/restaurants/migrations/*
!/restaurants/migrations/__init__.py

